@inject ComponentManager ComponentManager
@inject ShoppingCartManager ShoppingCartManager
@inject ComputerComponentRepository ComponentRepository
@page "/aircoolers"
<PageTitle>Air Coolers</PageTitle>

<div class="container">
    <div class="row">
        @foreach (var product in aAirCoolerList)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@product.Manufacturer</h6>
                        <p class="card-text">@product.Description</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Price:</strong> @product.Price.ToString("C0")</li>
                    </ul>
                    <div class="card-footer text-end">
                        <button class="btn btn-success btn-sm" @onclick="() => ShoppingCartManager.AddProductsToCart(product, 1)">Add to cart</button>
                        <button @onclick="() => DisplayMoreInfo(product)" class="btn btn-primary btn-sm">More info</button>
                    </div>
                    <div class="card-footer text-md-start">
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@* Using reflections to get all the AirCooler properties for display in the modal*@
@if (IsFormVisible && sSelectedProduct is AirCooler aAirCooler)
{
    <div class="modal fade show d-block" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content shadow-lg border-0 rounded-4">
                <div class="modal-header bg-primary text-white rounded-top-4 bg-dark">
                    <h5 class="modal-title fw-bold bg-dark">@aAirCooler.Name </h5>
                    <button type="button" class="btn-close btn-close-white" @onclick="HideInfo"></button>
                </div>
                <div class="modal-body">
                    <table table table-bordered table-striped>
                        <tbody>
                            @foreach (var _property in aAirCooler.GetType().GetProperties())
                            {
                                var aValue = _property.GetValue(aAirCooler);
                                string aPropertyName = _property.Name;
                                string aPropertySuffix = ComponentManager.ShowCorrectSuffixOnProperty(aPropertyName);
                                string aFormatedValue = ComponentManager.Remove_(aValue.ToString());

                                <tr>
                                    <th class=" p-1">@ComponentManager.PrettyPrintComponentProperties(_property.Name):</th>
                                    <td class="vw-50 p-1">@($"{aFormatedValue}{aPropertySuffix}")</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer bg-dark rounded-bottom-4">
                    <button class="btn btn-secondary" @onclick="HideInfo">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    bool IsFormVisible = false;
    private Product? sSelectedProduct;
    private string DisplayValue = string.Empty;
    private List<AirCooler> aAirCoolerList = new();

    private void DisplayMoreInfo(Product aProduct)
    {
        IsFormVisible = true;
        sSelectedProduct = aProduct;
    }

    private void HideInfo()
    {
        IsFormVisible = false;
        sSelectedProduct = null;
    }
    /// <summary>
    /// Fetches the air cooler products from the database repository when the component is initialized
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        aAirCoolerList = await ComponentRepository.GetAirCoolers();
    }


   



}
